
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/freelancer.min.css" rel="stylesheet">

  </head>

  <body id="page-top" style="color: <%= defaultColor %>">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><%= title %></a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Mobile</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Register Mobile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto img-thumbnail" src="/img/profile.png" alt="" width="300" height="300">
        <h1 class="text-uppercase mb-0"><%= shoar %></h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Web Developer - Graphic Artist - User Experience Designer</h2>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Mobile</h2>
        <hr class="star-dark mb-5">
        <div class="row"> 
          <div class = "col-xs-12 col-md-4 offset-4 ">
            <div class="card" style="width: 20rem;">
            <img class="card-img-top" src=<%=  mob.path  %> alt="Card image cap">            
           <ul class="list-group list-group-flush">
             <li class="list-group-item">brand : <%= mob.brand %></li>
             <li class="list-group-item">model : <%= mob.model %></li>
             <li class="list-group-item">weight : <%= mob.weight %></li>
             <li class="list-group-item">os : <%= mob.os %></li>
             <li class="list-group-item">sim : <%= mob.sim %></li>
             <li class="list-group-item">camera : <%= mob.camera %></li>
             <li class="list-group-item">net : <%= mob.net %></li>
             <li class="list-group-item">color : <%= mob.color %></li>           
             <li class="list-group-item">comment : <%= mob.comment %></li>          
          </ul>           
            </div>           
        </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-8 ml-auto">
           <ol>
               <li>B.Cheraghi</li>
               <li>S.Ghaderi</li>
               <li>Ghanbari</li>
               <li>Mahmoudi</li>
               <li> Khaled Makhdoomi </li>
          </ol>
        </div>
        <div class="col-lg-4 text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="#">
            <i class="fa fa-hand-o-right mr-2"></i>
            Follow Us!
          </a>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Register Mobile</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
          <form action="/" method="post">
  <div class="form-group">
    <label for="model">Model:</label>
    <input type="name" required class="form-control" id="model" name="model">
  </div>
  <div class="form-group">
    <label for="brand">Brand:</label>
    <input type="name" required class="form-control" id="brand" name="brand">
  </div>  
    <div class="form-group">
    <label for="weight">weight:</label>
    <input type="name" required class="form-control" id="weight" name="weight">
  </div>  
    <div class="form-group">
    <label for="os">os:</label>
    <input type="name" required class="form-control" id="os" name="os">
  </div>  
    <div class="form-group">
    <label for="sim">sim:</label>
    <input type="name" required class="form-control" id="sim" name="sim">
  </div>  
      <div class="form-group">
    <label for="camera">camera:</label>
    <input type="name" required class="form-control" id="camera" name="camera">
  </div>  
      <div class="form-group">
    <label for="net">net:</label>
    <input type="name" required class="form-control" id="net" name="net">
  </div>  
      <div class="form-group">
    <label for="color">color:</label>
    <input type="name" required class="form-control" id="color" name="color">
  </div>  
      <div class="form-group">
    <label for="comment">comment:</label>
    <textarea  class="form-control" id="comment" name="comment"></textarea>
  </div>  
  <div class="form-group">
    <input type="submit" name="submit" value="Post" class="btn btn-primary">
  </div>
</form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">University of Sistan and Baluchestan
              <br>phone : 9353793881</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-google-plus"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">About BestGroup</h4>
            <p class="lead mb-0">The best team to do your projects
              <a href="#page-top">BestGroup</a>.</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; BestGroup 2018</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

   
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/freelancer.min.js"></script>

  </body>

</html>
